
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(204, 245, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(218, 233, 245);
    width: 1100px ;
    height: 700px;
    margin-top: 60px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    background-color: beige;
    width: 700px;
    height: 600px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.2fr;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    margin: 10px;
}
.header h2{ 
    font-size: 1.3rem;
}

.count{
    background-color: rgb(8, 8, 134);
    width: 19px;
    padding-left: 12px;
    padding-right: 13px;
    color: white;
    border-radius: 5px;
}

.btn {
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
}

/* ################# */

.active-comments {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(7, 0.2fr);
    /* gap: 1px; */
}

/* MARK */
.active-people {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(228, 248, 248);
}

.redCircle{
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 90%;
    /* display: none; */
}
#period {
    font-size: 12px;
    color: grey;
}

/* MARK */
.mark {
    padding: 3px;
    margin: 5px;
    border-radius: 10px;
    gap: 5px;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
}

/* ANGELA */
.angela {
    padding: 3px;
    margin: 5px;
    border-radius: 10px;
    gap: 5px;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

/* JACOB */
.jacob {
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
}

/* RIZKY */
.div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 0.2fr);
    background-color: beige;
    font-size: 14px;

}

.cont {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.msg {
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 18px;
}

/* ####### */

/* KIMBERLY */

.kimberly {
    display: flex;
    justify-content: space-between;
    background-color: beige;
    padding: 10px;
    font-size: 13px;

}

.cont1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
/* ####### */

.nathan {
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    padding: 10px;
    gap: 5px;
    border-radius: 10px;
    background-color: beige;
}
/* ######## */

.anna {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: beige;
    font-size: 13px;
}




/* ACTIVE */
.redCircle.active {
    display: none;
}

.p1.active, .p2.active, .p3.active {
    background-color: beige;
}

.count.active {
    display: none;
}

@media screen and (max-width: 830px) and (min-width: 350px) {
    body {
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(204, 245, 250);
        display: block;
    }
    
    .container {
        background-color: beige;
        width: 100%;
        height: max-content;
        margin: 0;
        display: block;
        position: absolute;
    }
    
    .content-container {
        background-color: beige;
        width: 100%;
        height: 740px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0.2fr;
    }

    .active-people, .rizky .div, .kimberly, .nathan, .anna{
        font-size: 12px;
    }

    .rc1 {
        border-radius: 55%;
        width: 13px;
        height: 10px;
    }
}